src/main/mule/git-doctus-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7794e3fd-a0d5-4f07-bc13-36f0e5bfbb5d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-doctus-cicdFlow" doc:id="b2c2e2f0-865c-4340-9d22-f353baa6e5f4" >
		<http:listener doc:name="Listener" doc:id="4dc73d7e-d968-4bac-8883-761c2f248240" config-ref="HTTP_Listener_config" path="/GitDoctusCICD"/>
		<ee:transform doc:name="Transform Message" doc:id="a328e04f-3741-477f-ba0a-5cc611184ffe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Git-Doctus-CICD": "Successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="304375f8-2286-4ba4-a0d1-d786a4a236f3" message="#[payload]"/>
	</flow>
</mule>
